# Common
.DS_Store
.AppleDouble
.LSOverride
Icon


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Kubernetes/Minio
/workspace/state/
/workspace/audit.jsonl
/workspace/inbox.jsonl
/workspace/outbox.jsonl

# Temporary
pass.sh
