
# Common
# Kubernetes/Minio
# Python
# Temporary
# macOS
*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
.AppleDouble
.DS_Store
.LSOverride
.Python
.coverage
.eggs/
.installed.cfg
.pytest_cache/
/workspace/audit.jsonl
/workspace/inbox.jsonl
/workspace/outbox.jsonl
/workspace/state/
Icon
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
parts/
pass.sh
sdist/
var/
wheels/
