apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: agent-allow-egress
  namespace: universe
spec:
  podSelector:
    matchLabels:
      network-policy: "allow-egress"
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector: {}
