apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: deny-egress-universe-agent
  namespace: universe
spec:
  podSelector:
    matchLabels:
      app: universe-agent
  policyTypes:
    - Egress
  egress: []
