{{- if .Values.networkPolicy.enabled }}
{{- if .Values.networkPolicy.agentDenyEgress }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: deny-egress-universe-agent
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "rynxs.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app: universe-agent
  policyTypes:
    - Egress
  egress: []
---
{{- end }}
{{- if .Values.networkPolicy.agentAllowEgress }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: agent-allow-egress
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "rynxs.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      network-policy: "allow-egress"
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector: {}
---
{{- end }}
{{- if .Values.networkPolicy.sandboxDenyEgress }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: sandbox-deny-egress
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "rynxs.labels" . | nindent 4 }}
spec:
  podSelector: {}
  policyTypes:
    - Egress
  egress: []
{{- end }}
{{- end }}
